---
---
<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="/" class="d-inline-block mb-3">
                    <img src="/img/JRA_logo.png" alt="JRA BUILD" style="height: 80px;">
                </a>
                <p class="mb-0">JRA BUILD LIMITED - Your trusted local building company serving Waihi Beach and surrounding areas. Quality construction and renovation services.</p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4">Get In Touch</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Waihi Beach, New Zealand</p>
                <p><i class="fa fa-phone-alt me-3"></i>021 578 007</p>
                <p><i class="fa fa-envelope me-3"></i>info@jrabuild.co.nz</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square border-2 me-2" href="#!"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link" href="/about">About Us</a>
                <a class="btn btn-link" href="/contact">Contact Us</a>
                <a class="btn btn-link" href="/service">Services</a>
                <a class="btn btn-link" href="/project">Projects</a>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h5 class="text-white mb-4">Our Services</h5>
                <a class="btn btn-link" href="/service">New Home Construction</a>
                <a class="btn btn-link" href="/service">Renovations</a>
                <a class="btn btn-link" href="/service">Extensions</a>
                <a class="btn btn-link" href="/service">Commercial Projects</a>
                <a class="btn btn-link" href="/service">Project Management</a>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="/">JRA BUILD LIMITED</a>, All Rights Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <nav aria-label="Footer navigation">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a class="text-white-50" href="/">Home</a></li>
                            <li class="list-inline-item"><a class="text-white-50" href="/service">Services</a></li>
                            <li class="list-inline-item"><a class="text-white-50" href="/project">Projects</a></li>
                            <li class="list-inline-item"><a class="text-white-50" href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
